*{
    margin: 0;
    padding: 0;

}
body{
    font-family: arial;
    
}
img{
    width: 100%;
}
.header {
    margin-bottom: 10px;
    color: white;
    overflow: hidden;
    font-family: arial;
    position: sticky;
    top: 0;
    z-index: 99999;
    background: #000000a6;
    border-bottom: 3px solid #ff8100;
}
.logo{
    
width: 150px;
    
padding: 10px;
    
float: left;
    
font-family: arial black;
}
.logo >a{
    text-decoration: none;
    font-size: 25px;
    color: #ff8100;
}


.menu{
    float: right;
    width: 570px;;
    padding: 10px;
        margin-top: 10px;
}
.menu ul{
    display: flex;
    list-style: none;
}

.menu>ul>li {
    padding: 0px 10px 0px;
    transition: 1s;
}
.menu>ul>li:hover{
    transform: scale(0.899999999999);
}
.menu>ul>li>a {
    text-decoration: none;
    color: #ff8100;
    font-size: 20px;
    transition: 1s;
    padding: 5px;
    border-radius: 2px;
}
.menu>ul>li>a:hover{
    border-bottom: 2px solid darkorange;
    color: white;
}
/*--------End Header--------*/
.banner{
    width: 950px;
    position: relative;
    margin: auto;
    padding-bottom: 90px;
}
.image{
    position: relative;
}
.image>img{
    width: 100%;
    height: 500px;
    position: absolute;
}

.overlay{
    width: 100%;
    color: white;
    background: #000000a6;
    position: relative;
    top: 0;
    height: 500px;
    font-family: 'Galada', cursive;
}
.overlay h1{
    position: absolute;
    top: 80px;
    left: 40px;
    font-size: 60px;
}
.overlay h2{
    position: absolute;
    top: 160px;
    left: 85px;
    font-size: 60px;
}
/*--------End Banner---------*/

.about-us {
    position: relative;
    margin: auto;
    width: 1000px;
    height: 500px;
    padding-bottom: 50px;
}
.photo{
    position: relative;
    width: 800px;
    height: 500px;
    margin-left: 40px;
    float: left;
}
.photo>img {
    position: absolute;
    height: 500px;
    width: 95%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 0px #848484;
}

.about-us-content {
    width: 150px;
    float: right;
}
.about-us-content>h1 {
    position: absolute;
    top: 60px;
    right: 10px;
    color: darkorange;
}
.about-us-content p {
    width: 250px;
    position: relative;
    top: 110px;
    right: 140px;
    font-size: 12px;
    background: #ff8c00;
    color: #383838;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 7px 11px 10px 0px #00000082;
    text-align: justify;
}
/*---------- End about us ----------*/
.gallery{
    width: 1000px;
    height: 600px;
    padding-bottom: 50px;
    background-image: linear-gradient(to bottom, #ff5e00, #00000014);
        margin: auto;
}
.GalleryHeading{}
.GalleryHeading h1{
    color: white;
    text-align: center;
    padding: 40px 0;
    font-size: 50px;
}
.GalleryImages{
    margin: auto;
    width: 900px;
    
}
.GalleryImages img{
    width: 275px;
    border-radius: 20px;
    padding: 10px;
    height: 200px;
    animation-name: animation1;
    animation-duration: 2s;
}

.First_row{}
.Second_row{
}
@keyframes animation1{
    from{transform: scale(0);}
    to{transform: scale(1);}
}
/*-------- End Gallery --------*/
.Our-chef{
    height: 660px;
}
.Our-chef h1{
    text-align: center;
    font-size: 50px;
    color: black;
    padding: 30px 0px;
    border-bottom: 3px solid #ff8c00;
    width: 300px;
    margin: auto;
}
.Our-chef>h1>span{
    color: darkorange;
}
.col-md-6.single-chef img {
    width: 100%;
    transition: 1s;
}

.col-md-6.single-chef {
    width: 440px;
    float: left;
        margin-top: 25px;
}
.col-md-6.single-chef img:hover{
    transform: scale(1.1);
    
}
.col-md-6.all-chefs {
    width: 530px;
    float: right;
    padding-top: 20px;
}
.firstImage {
    position: relative;
    width: 130px;
    height: 140px;
    border-radius: 100px;
    transition: 1s;
    display: inline-block;
}

.firstImage:hover{
    transform: scale(1.1);
}
.firstImage:hover .overlay1{
    opacity: 1;
}
.overlay1{
    width: 130px;
    height: 140px;
    background: #000000a6;
    color: #ff8100;
    border-radius: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
    transition: 1s;
}
.overlay1 h3 {
    position: absolute;
    top: 60px;
    left: 40px;
    border-bottom: 2px solid darkorange;
    color: #FF5722;
    transform: translateX(-45px);
    transition: 1s;
    font-family: cursive;
}
.overlay1 h3 span {
    font-size: 15px;
    color: #d2cbcb;
}
.overlay1:hover{
    opacity: 1;
    
}
.overlay1:hover h3{
    transform: translateX(0px);
}
.col-md-6.all-chefs img {
    border-radius: 100px;
    width: 130px;
    height: 140px;
    padding: 10px;
    transition: 1s;
    /* position: relative; */
}

/*--------- End our chef---------*/
.blog{
    background: #f0eff2;
    padding-bottom: 50px;
}
.blog h1{
    font-size: 50px;
    color: #fe6811;
    text-align: center;
    padding: 40px;
}
.blog-body{
    display: flex;
}
.single-blog{
    width: 470px;
    margin: auto;
    position: relative;
    box-shadow: 1px 1px 8px;
    background: white;
    padding-bottom: 40px;
}
.single-blog h2{
    width: 30px;
    height: 40px;
    font-size: 15px;
    background: darkorange;
    color: white;
    position: absolute;
    right: 0;
    padding: 5px;
}
.single-blog h2 span{
    color: #505050;
}
.single-blog img{
    width: 100%;
    height: 250px;
}
.single-blog h3{
    font-size: 25px;
    padding: 15px;
}
.single-blog p{
    padding: 15px;
    text-align: justify;
    font-size: 15px;
    margin-bottom: 15px;
}
.single-blog a{
    text-decoration: none;
    color: white;
    background: darkorange;
    border-radius: 5px;
    padding: 8px;
    margin: 10px;
    transition: 1s;
}
.single-blog a:hover{
    background: black;
}
